.dgcard{
    position: absolute;
    left: 14.5%;
    width: 74%;
    height: 80%;
    top: 19%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
        overflow: hidden;
    
}
.dgcards{
    width: 100%;
    height: 100%;
}
.dg1{
    color: rgba(255, 255, 255, 0.521);
    font-family: bellefair;
    font-size: large;
    margin-top: 28.7%;
    font-size: 159%;
}
.dg2{
    color: white;
    font-family: bellefair;
    font-size: large;
    font-size: 280%;
    margin-top: 3%;
}
.dg3{
    color: #e1e0fcd8;
    font-size: 92%;
    width: 76%;
    font-family: sans-serif;
    line-height: 27px;
    margin-top: 5%;
}
.dougpic{
    width: 430px;
    height: 537px;
    margin-left: 5%;
}
.swiper{
    display: none;
}
@media(max-width:576px){
    .dgcard{
        display: none;
    }
    .dougcov{
        height: 560px;
        width: 100%;
        position: absolute;
        left: 0%;
        top: 19%;
    }
    .swiper{display: block;
        height: 100%;
        width: 100%;
    }
    .swiper-slide{
        color: rgb(255, 255, 255);
        z-index: 9999;
    }
    .swiper-pagination-bullet-active{
        background-color: rgb(255, 255, 255) !important;
    }
    .swiper-pagination-bullet{
        background-color: rgb(0, 0, 0) !important;
        opacity: 1;
        height: 12px !important;
        width: 12px !important;
        
    }
    .swiper-pagination{
      position: absolute;
      text-align: center;
      bottom: 47% !important;
      z-index: 10;
    }
    .rec{
        width: 100%;
        height: 100%;
    }
    .recs{
        width: 100%;
        height: 50%;
    } 
    
    .dougpic{
        width: 44%;
        height: 46%;
    }
    .mmarkpic{
        width: 40.5%;
        height: 38%;
    }
    .mvicpic{
        width: 51%;
        height: 38%;
    }
    .manupic{
        width: 57.6%;
        height: 38%;
    }
    .rg1{
        margin-top: 90px;
        text-align: center;
        font-family: bellefair;
        color: rgba(255, 255, 255, 0.514);
        font-size: 96%;
    }
    .rg2{
        font-family: bellefair;
        text-align: center;
        font-size: 134%;
        margin-top: 7px;
    }
    .rg3{
        font-family: calibri;
        text-align: center;
        color: rgb(219, 215, 255);
        width: 86%;
        margin-left: 7%;
        margin-top: 16px;
        line-height: 27.6px;
    }
    #dgid{
        display: flex;
        justify-content: center;
    }
    #blurry{
        -webkit-backdrop-filter: blur(40px);
    }
}