.ccard{
    display: flex;
    width: 74%;
    height: 64%;
   
    position: absolute;
    left: 25.7%;
    top: 31.3%;
}
.ccards{
    width: 100%;
    height: 100%;
    
}
.cpic{
    width: 85%;
    height: 100%;
    margin-left: 15%;
}
.c1{color: rgb(228, 228, 255);
    font-family: barlow;
    font-size: 110%;
    letter-spacing: 2px;
    margin-top: 12%;
}
.c2{
    color: white;
    font-family: bellefair;
    font-size: 290%;
    margin-top: 2%;
}
.c3{
    color: rgb(220, 220, 255);
    font-family: sans-serif;
    font-weight: 200;
    font-size: 90%;
    line-height: 28px;
    margin-top: 5.3%;
    width: 74%;
}
.ccov2{
    display: none;
}
.cmobile{
    display: none;
}

@media(max-width:576px){
    .ccard{
        display: none;
    }
    .ccov2{
        display: block;
    }
    .cmobile{
       display: block;
       width: 100%;
       position: absolute;
       left: 0%;
       top: 20%;
    }
    .cun{
        color: rgb(218, 218, 255);
        position: absolute;
       left: 0%;
       top: 60.8%;
       font-family: barlow;
       text-align: center;
       width: 100%;
       letter-spacing: 2px;
       font-size: 90%;
    }
    .cdeux{
        color: white;
        position: absolute;
        left: 0%;
        top: 64.9%;
        font-family: bellefair;
        text-align: center;
        width: 100%;
        font-size: 150%;
    }
    .ctrois{
        color: rgb(211, 211, 255);
        position: absolute;
        left: 0%;
        top: 72.4%;
        font-family: arial;
        font-size: 90%;
        line-height: 25px;
        text-align: center;
        width: 90%;
        left: 5%;
        
        
    }
   
}